<html>

    <head>
        <link rel=stylesheet type=text/css href = '{{ url_for('static', filename= 'b.css')}}'>
    </head>

    <body>

        <header class="header-bar">
            <div class="bar-container">
                <div class="top-title"><strong><a href="{{url_for('categoryList')}}">CatalogApp</a></strong></div>
                <div class="button-location">{%include "logout.html"%}</div>
            </div>

            
        </header>

        <div class="content-container">
            </br>
                <h1 class="cat-title">Edit Item</h1>

                <form method="post">
                        <label for="name">Title</label>
                    </br>
                        <input type ="text" class="form-control" name="name" value="{{item_edit.name}}">
                </br> </br>
                        <label for="description">Description</label>
            </br>
                        <textarea type ="text" name="description">
                                {{item_edit.description}}
                            </textarea>
                        </br> </br>
                            </br></br>

                                <button type="submit" class="btn btn-default" type="submit">Edit</button>

                </form>

        </div>

    </body>
</html>