<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet type=text/css href = '{{ url_for('static', filename= 'b.css')}}'>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->


</head>


<body>  


<!-- GOOGLE PLUS SIGN IN-->

          
          <div id="signoutButton">
            <button type="button" class="singin-button" style="cursor: pointer"><strong>LOGOUT</strong></button>
        </div>

<!--END GOOGLE PLUS SIGN IN -->

  </body>

  </html>